* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(221, 217, 217, 0.102);
    color: rgb(102, 94, 94);
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    width: 100%;
    padding: 20px;
}

.main-heading {
    background-color: #1f2d3d;
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

p {
    padding: 5px;
    line-height: 1.5;
    margin-bottom: 12px;
    margin-top: 12px;
}

.main_hr {
    border-top: 4px solid black;
    margin-top: 20px;
}

.sub-hr {
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.headings {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;

}

form {
    width: 100%;
}

fieldset {
    border: none;
}

input,
select {
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    background-color: hsla(210, 9%, 83%, 0.302);
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;
}

select {
    appearance: none;
    background-image: url(/images/menu-drop.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 98% 50%;

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    border: 1px solid #1f2d3d;
}

input::placeholder {
    text-align: right;
    font-style: italic;
    transform: translateX(-5%);
}


input:required:valid {
    transition: all 2s;
    background-image: url(/images/check.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    border: 1px solid lightgreen;
}


input:required:valid:focus {
    border: 1px solid lightgreen;
}


input:required:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid red;
}

input:required:invalid:not(:focus):placeholder-shown,
input:required:invalid:not(:focus) {
    background-image: url(/images/asterisk.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
}


input:required:invalid:focus {
    border: 1px solid red;
    background-image: url(/images/asterisk.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.zip_code {
    width: 50%;
}

label[for="zip-code"] {
    display: block;
    width: 100%;
}


.form_section {
    background-color: hsla(213, 35%, 63%, 0.2);
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 3px;
}

input[type="checkbox"],
input[type="radio"] {
    width: max-content;
    padding: 3px;
    font-size: 18px;

}

textarea {
    width: 100%;
    height: 110px;
    padding: 18px;
    background-color: hsla(210, 9%, 83%, 0.302);
    border: none;
    border-radius: 3px;
    outline: none;
}

textarea::placeholder {
    text-align: left;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    background-color: hsl(177, 62%, 47%);
    border-radius: 3px;
    padding: 15px;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 20px;

}

footer {
    width: 100%;
    font-style: italic;
    text-align: center;
    margin-bottom: 150px;

}

@media only screen and (min-width: 768px) {
    form {
        width: 65%;
        align-self: center;

    }

    section {
        text-align: center;
    }

    hr {
        width: 65%;
        margin: auto;
    }

    fieldset+.sub-hr {
        width: 100%;
    }

    fieldset {
        width: 100%;
    }


    .contact_input {
        display: inline-block;
        width: 75%;
        padding: 12px;
        transform: translateX(10px);
    }

    .contact_label,
    label[for="zip-code"] {
        display: inline-block;
        width: 20%;
        font-size: 12px;
    }

    .zip_code {
        display: inline-block;
        width: 25%;
    }

    input::placeholder {
        font-size: 12px;
    }

    textarea {
        height: 70%;
    }

    button {
        font-size: 16px;
        padding: 12px;
    }

    footer {
        font-size: 12px;
    }

}